{
  "root": true,
  "extends": ["plugin:jsx-a11y/strict"],
  "plugins": ["react-hooks", "jsx-a11y", "testing-library", "jest-dom"],
  "env": {
    "es6": true,
    "browser": true
  },
  "overrides": [
    {
      "files": [".ts?(x)"],
      "parser": "@typescript-eslint/parser",
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:jest-dom/recommended"
      ],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off"
      }
    }
  ]
}
